
@{
    ViewBag.Title = "About_US";
    Layout = "~/Views/Shared/Travelo_Layout.cshtml";
}

<section class="about" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="~/img/img.svg" alt="about" class="img-fluid">
            </div>
            <div class="col-lg-6">
                <h3>OUR MISSION STATEMENT </h3>
                <p>
                    "We are an Travels company with a passion for providing exemplary customer service, leveraging our expertise and technology to deliver innovative travel solutions in a gratifying work environment."
                </p>
                <div class="row">
                    <div class="col-md-6">
                        <h4>
                            <i class="fa fa-star"></i>Awesome Design
                        </h4>
                    </div>
                    <div class="col-md-6">
                        <h4>
                            <i class="fa fa-star"></i>
                            Creative Design
                        </h4>
                    </div>
                    <div class="col-md-6">
                        <h4>
                            <i class="fa fa-star"></i>Better Client Service
                        </h4>
                    </div>
                    <div class="col-md-6">
                        <h4>
                            <i class="fa fa-star"></i>
                            Connected
                        </h4>
                    </div>
                    <div class="col-md-6">
                        <h4>
                            <i class="fa fa-star"></i>Employee-Owned

                        </h4>
                    </div>
                    <div class="col-md-6">
                        <h4>
                            <i class="fa fa-star"></i>
                            Speed And Flexibility
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

